<div class="kanban-card">
    <mat-card>
        <div class="kanban-top-row ">
            <div><span class="badge bg-primary">Primary</span></div>
            <div>2 Nov,2021</div>
        </div>
        <div class="kanban-description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum necessitatibus iusto dicta perspiciatis earum consectetur odio illo repellat. Incidunt, cupiditate.
        </div>
        <div class="kanban-assign-attachment">
            <div class="kanaban-assignto-image">
                <img src="../../../../../assets/images/pg (1).jpg" alt="">
                <img src="../../../../../assets/images/pg (2).jpg" alt="">
                <img src="../../../../../assets/images/pg (3).jpg" alt="">
                <img src="../../../../../assets/images/pg (3).jpg" alt="">
            </div>
            <div class="assign-icons">
                <div class="icons-display">
                    <span class="material-icons text-muted">
                        attach_file
                    </span>
                    <span>20</span>
                </div>
                <div class="icons-display">
                    <span class="material-icons text-muted">
                        forum
                    </span>
                    <span>15</span>
                </div>
            </div>
        </div>
        <div class="kanban-progessbar">
            <div class="progress-bar-header">
                <div>completed</div>
                <div>86%</div>
            </div>
            <div class="progrss-bar">
                <div class="percentage-progress" style="width: 86%;"></div>
            </div>
        </div>
    </mat-card>
</div>