<div class="kanban-card">
    <mat-card>
        <div class="kanban-top-row ">
            <div><span class="badge bg-primary">Primary</span></div>
            <div>2 Nov,2021</div>
        </div>
        <div class="kanban-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim explicabo aliquam delectus error iusto commodi non rerum porro dolor repellendus voluptatem ipsam nulla ad, mollitia
        </div>
        <div class="kanban-assign-attachment">
            <div>krunal</div>
            <div class="assign-icons">
                <div class="icons-display">
                    <span class="material-icons text-muted">
						attach_file
					</span>
                    <span>20</span>
                </div>
                <div class="icons-display">
                    <span class="material-icons text-muted">
						forum
					</span>
                    <span>15</span>
                </div>
            </div>
        </div>
    </mat-card>
</div>