@import "../../../../../assets/utility/mixin.scss";
@import "../../../../../assets/utility/font-size.scss";
kanban-board {
    $spacing: 10px;
    .kanban-card {
        width: 200px;
        & .mat-card {
            padding: $spacing;
        }
    }
    .kanban-top-row {
        @include flex(space-between, "");
    }
    .kanban-description {
        margin-top: $spacing;
        line-height: 18px;
        @include line-clamp(3);
    }
    .kanban-assign-attachment {
        margin-top: $spacing;
        @include flex(space-between, "");
        .assign-icons {
            @include flex("", center);
            .material-icons {
                padding-right: 2px;
                font-size: $font-size-sm;
            }
            .icons-display {
                @include flex("", center);
                margin-left: 2px;
            }
        }
    }
    .kanaban-assignto-image {
        img {
            margin-right: 2px;
            @include project-image(20);
        }
    }
    .kanban-progessbar {
        margin-top: $spacing;
        .progress-bar-header {
            @include flex(space-between, "");
        }
        .progrss-bar {
            background: $faint-color-grey;
            padding: 1px;
            box-sizing: border-box;
            border-radius: 6px;
            .percentage-progress {
                height: 2px;
                background: $theme-color;
            }
        }
    }
}