<p class="header-mat-toolbar">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideBar()">
			<span class="material-icons">
				menu
			</span>
		</button>
        <span class="header-company-name title-lg">CodeInnvoator</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
			<span class="material-icons">
				favorite
			</span>
		</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
			<span class="material-icons">
				share
			</span>
		</button>
    </mat-toolbar>
</p>