<!-- login form start -->
<!-- <section>
	<div class="container">
		<div class="user singinBx">
			<div class="formBx">
				<form>
					<h2>Sign In</h2>
					<input type="text" name="" id="user" placeholder="Username">
					<input type="password" name="" id="loginpass" placeholder="password">
					<input type="submit" name="" value="Login">
					<p class="signup">Don't have an account ? <a href="#" onclick="myFunction();">Sign Up</a></p>
				</form>
			</div>
		</div>
	</div>
</section> -->
<!-- login form end -->

<div class="container-fluid">
	<div class="flex-center login-form">
		<mat-card class="login-form-card">
			<div class=" flex-center h-100">
				<div class="w-100">
					<div class="title-xl text-center">Sign In</div>
					<div class="mb-3">
						<label for="Username" class="form-label">Username</label>
						<input type="text" class="form-control" id="Username" placeholder="">
					</div>
					<div class="mb-3">
						<div class="login-form-password-link">
							<label for="Password" class="form-label">Password</label>
							<button class="btn btn-link">Forgot password?</button>
						</div>
						<input type="text" class="form-control" id="Password" placeholder="">
					</div>
					<div class="text-end">
						<button class="btn btn-primary">Login</button>

					</div>

					<p>DON'T HAVE AN ACCOUNT ? SIGN</p>
				</div>
			</div>
		</mat-card>
	</div>
</div>