@import "../../../../assets/utility/mixin.scss";

.login-form {
	min-height: 100vh;
}
.login-form-card {
	width: 400px;
	height: 500px;
	padding: 30px;
}
.login-form-password-link {
	@include flex(space-between, baseline);
}
