<div class="flex-center login-form">
    <mat-card class="login-form-card">
        <div class=" flex-center h-100">
            <div class="w-100">
                <!-- header -->
                <div class="title-xl text-center mb-4">Login In</div>
                <!-- input control -->
                <div class="ng-custom-form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="">
                        <mat-error></mat-error>
                    </mat-form-field>
                    <!-- <input type="text" class="form-control custom-form-control" id="Username" placeholder="Username"> -->
                </div>
                <div class="ng-custom-form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Your Password</mat-label>
                        <input matInput placeholder="Placeholder" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- <input type="Password" class="form-control custom-form-control" id="Password" placeholder="Password"> -->
                </div>

                <!--keep signIn and forgot password link -->
                <div class="login-forgot-password">
                    <p>
                        <mat-checkbox class="example-margin">Keep me signed in</mat-checkbox>
                    </p>
                    <button type="button" class="btn btn-link">Forgot Password ?</button>
                </div>

                <!-- sign in button -->
                <div class="d-grid gap-2 mb-4 ">
                    <button class="btn btn-primary shadow btn-lg" type="button" [routerLink]="['/home']">Sign In</button>
                </div>
                <!-- link for new account -->
                <div class="text-center">
                    Not a member ? <a class="btn-link" [routerLink]="['/sign-up']">Create Account</a>
                </div>
            </div>
        </div>
    </mat-card>
</div>