<div class="container-fluid mt-4 mb-4">
    <div class="row ">
        <div class="col-md-12 p-5 bg-color-grey">
            <p class="title-lg text-center ">Explore NearBy</p>
            <p class="text-center text-muted">10,789 beautiful places to go</p>
            <div class="mt-5">
                <div class="cards">
                    <mat-card class="home-card-item">
                        <div class="home-section-chip">
                            <span class="custom-mat-chip">
                                1024
                            </span>
                        </div>
                        <div class="flex-center home-section-img">
                            <img src="../../../../assets/images/pg (2).jpg">
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>