@import "../../../../assets/utility/utility.scss";
app-home-page {
    $image-size: 80;
    $line-clamp: 1;
    .cards {
        @include flex(center, "", 15);
        flex-wrap: wrap;
    }
    .home-first-col {
        min-height: calc(100vh - 7vh);
    }
    .home-card-item {
        flex-basis: 220px;
        height: 190px;
        @include responsiveDefault(320, 600) {
            flex-grow: 1;
        }
    }
    .home-section-chip {
        height: 25px;
    }
    .home-section-img {
        height: $image-size + px;
        img {
            @include project-image($image-size);
        }
    }
    .home-section-name {
        height: calc($line-clamp * 20) px;
        @include line-clamp($line-clamp);
    }
    .home-section-comming {
        img {
            width: $image-size + px;
            height: $image-size + px;
        }
    }
}