@import "../../../../assets/utility/mixin.scss";
@import "../../../../assets/utility/font-size.scss";
codeInnvoator-menu-content {
    $logo-size: 40;
    .main-menu-item {
        @include flex(space-between, "");
        height: 98vh;
        flex-direction: column;
    }
    .main-subMenu-item {
        position: relative;
        left: 5px;
    }
    .logo {
        display: flex;
        width: max-content;
        .logo-icon {
            @include project-image($logo-size, $faint-primary-color);
            @include flex(center, center);
        }
        .logo-name {
            font-size: $font-size-md;
            font-weight: $font-weight-xl;
        }
    }
    .sub-menu-list {
        width: max-content;
        @extend .main-subMenu-item;
    }
    .icon-name {
        margin-left: 30px;
    }
    .footer {
        @extend .main-subMenu-item;
    }
    .icon-name {
        font-size: $font-size-sm;
        font-weight: $font-weight-xl;
    }
    .menu-toggle-button {
        margin-left: -5px;
    }
}