<div class="main-menu-item">
    <div class="main-subMenu-item">
        <div class="logo">
            <div class="logo-icon">
                <span class="material-icons">offline_bolt</span>
            </div>
            <div class="align-self-center ms-3 logo-name">
                CodeInnvoator
            </div>
        </div>
        <div class="sub-menu-list">
            <div *ngFor="let menu of sideBarMenuList" class="d-flex mt-5 ">
                <a class="material-icons" matTooltip="{{menu?.ToolTip}}" aria-label="Button that displays a tooltip when focused or hovered over" [matTooltipPosition]="'right'" [routerLink]="[menu.RouterLink]">
                    {{menu.IconName}}
                </a>
            </div>
        </div>
        <!-- <div class="sub-menu-list">
            <mat-slide-toggle class="mt-5 menu-toggle-button"></mat-slide-toggle>
        </div> -->
    </div>
    <div class="main-subMenu-item ">
        <div class="d-flex footer">
            <span class="material-icons">
                exit_to_app
            </span>
        </div>
    </div>
</div>