<!-- <div class="d-flex logo-main  mt-2">
    <div class="logo">
        <div class="logo-design">
            <span class="material-icons">offline_bolt</span>
        </div>
    </div>
    <div class="align-self-center ms-3 logo-heading">
        CodeInnvoator
    </div>
</div>

<div *ngFor="let menu of sideBarMenuList" class="d-flex mt-5 menu-subMenu-item">
    <span class="material-icons">
        {{menu.IconName}}
    </span>
    <div class="align-self-center ms-4">
        {{menu.SubmenuName}}
    </div>
</div>




<div class=" footer-subMenu-item">
    <span class="material-icons">
        logout
    </span>
    <div class="align-self-center ms-4">
        code
    </div>
</div> -->


<div class="main-menu-item">
    <div class="main-subMenu-item">
        <div class="logo">
            <div class="logo-icon">
                <span class="material-icons">offline_bolt</span>
            </div>
            <div class="align-self-center ms-3 logo-name">
                CodeInnvoator
            </div>
        </div>
        <div class="sub-menu-list">
            <div *ngFor="let menu of sideBarMenuList" class="d-flex mt-5 ">
                <span class="material-icons">
                    {{menu.IconName}}
                </span>
                <div class="align-self-center icon-name">
                    {{menu.SubmenuName}}
                </div>
            </div>
        </div>
    </div>

    <div class="main-subMenu-item ">
        <div class="d-flex footer">
            <span class="material-icons">
                exit_to_app
            </span>
            <div class="align-self-center icon-name">
                Logout
            </div>
        </div>
    </div>
</div>