$primary-color: #28527a;
$secondary-color: #e7f1e0;
$tertiary-color: #e8eae6;
$fourth-color: #cdd0cb;
$anchor-link-color: #6e9bcc;
$default-text-color: #464343;
$white-color: #ffffff;

$theme-color: $primary-color;
