$primary-color: #5381b3;
$secondary-color: #a0d0ec;
$tertiary-color: #d8e4f4;
$fourth-color: #f7fbfc;
$link-color: #caccce;
$default-color: #464343;
$white-color: #ffffff;

$theme-color: $primary-color;
