$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

//font weight

$font-weight-xxl: 700;
$font-weight-xl: 600;
$font-weight-lg: 500;
$font-weight-md: 400;
$font-weight-sm: 300;
$font-weight-xs: 200;

$font-size-default: $font-size-sm;
