@import "color-code.scss";

// flex
@mixin flex($justify-content, $align-items) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

// generate images
@mixin project-image($size: 40, $background-color: $theme-color) {
	width: $size + px;
	height: $size + px;
	border-radius: 50%;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $background-color;
	color: $white-color;
}
