@import "../utility/font-family.scss";
@import "../utility/font-size.scss";
.commom-title {
    font-weight: $font-weight-xl;
    margin-bottom: 0;
}

// card Title size
.title-xs {
    font-size: $font-size-xs;
    @extend .commom-title;
}

.title-sm {
    font-size: $font-size-sm;
    @extend .commom-title;
}

.title-md {
    font-size: $font-size-md;
    @extend .commom-title;
}

.title-lg {
    font-size: $font-size-lg;
    @extend .commom-title;
}

.title-xl {
    font-size: $font-size-xl;
    @extend .commom-title;
}

.title-xxl {
    font-size: $font-size-xxl;
    @extend .commom-title;
}

//align vertical and Horizontal center
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-carousel-radio {
    padding: 0 5px 0 0;
    margin: 0;
}

.custom-mat-chip {
    padding: 3px 10px;
    border-radius: 16px;
    background: $mat-chip-color;
}