<div class="container">

	<p>
		<mat-toolbar color="primary">
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			<span>My App</span>
			<span class="example-spacer"></span>
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
				<mat-icon>favorite</mat-icon>
			</button>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
				<mat-icon>share</mat-icon>
			</button>
		</mat-toolbar>
	</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis ullam dicta, unde doloribus beatae corrupti? Deleniti pariatur repellendus fuga modi, voluptate ratione ad consectetur iste ullam esse exercitationem sit quisquam error ut. Odio iste nihil, sit molestias minus placeat numquam, laboriosam officia, repellat esse natus nam sapiente ea animi saepe!</p>

	<div class="d-grid d-flex justify-content-end">
		<a class="btn btn-primary me-2" type="button">click</a>
		<a class="btn btn-primary" type="button">me</a>
	</div>
	<div class="mt-5">
		<mat-checkbox class="example-margin">Checked</mat-checkbox>
	</div>
</div>