<mat-toolbar color="primary">
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>My App</span>
</mat-toolbar>
<div class="container-fluid ">
	<div class="mt-2 mb-2">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Library</a></li>
				<li class="breadcrumb-item active" aria-current="page">Data</li>
			</ol>
		</nav>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-5 col-sm-12">
			<div class="card mb-3">
				<div class="employee-details-top ">
				</div>
				<div class="employee-details-image">
					<img src="../assets/images/girl.jpg" class="card-img-top profile-image" alt="...">
				</div>
				<div class="card-body">
					<h5 class="employee-card-title mb-1">Amelia Olivia</h5>
					<h6 class="text-center text-muted">UI/UX Designer</h6>
					<p class="card-text mt-3">I have been working in the Study Abroad industry for the past 10 years. I have always enjoyed interacting with people of varied profile .</p>

				</div>
				<div class="card-footer">
					<i class="fa fa-facebook facebook" aria-hidden="true"></i>
					<i class="fa fa-instagram instagram" aria-hidden="true"></i>
					<i class="fa fa-linkedin linkedin" aria-hidden="true"></i>
					<i class="fa fa-twitter twitter" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-7 col-sm-12">
			<div class="card">
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex  align-items-center">
							<span class="w-25"> Email ID</span>
							<span>kkumbhare23@gmail.com</span>
						</li>
						<li class="list-group-item d-flex  align-items-center">
							<span class="w-25"> Contact No</span>
							<span>8857058570</span>
						</li>
						<li class="list-group-item d-flex  align-items-center">
							<span class="w-25">Location</span>
							<span>Nagpur</span>
						</li>
						<li class="list-group-item d-flex  align-items-center">
							<span class="w-25">Department</span>
							<span>Software Developer</span>
						</li>
						<li class="list-group-item d-flex  align-items-center">
							<span class="w-25">Office extension</span>
							<span>789-857-698</span>
						</li>
						<li class="list-group-item d-flex  align-items-center">
							<span class="w-25">Manager</span>
							<span class="manager-image">
								<img src="../assets/images/programmer.jpg" class="card-img-top me-3" alt="...">
								Vaibhav Kumbhare
							</span>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>