@import "../assets/utility/utility.scss";
app-root {
    mat-sidenav {
        width: 65px !important;
        overflow: hidden;
    }
    .mat-drawer-inner-container {
        padding: 8px;
        overflow: hidden;
    }
    .menu-mat-sidenav {
        background: $theme-color;
    }
    .menu-router-content {
        padding: 0 20px;
    }
}