<p class="d-flex justify-content-center">
	<mat-toolbar class="p-info-toolbar">
		<mat-toolbar-row>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
				<span class="title-lg">Code<span>
						<mat-icon>wifi</mat-icon>
					</span>nnvoator</span>
			</button>

			<span class="example-spacer"></span>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
				<mat-icon>apps</mat-icon>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
</p>

<div class="container-fluid">
	<div class="text-uppercase title-lg text-center mt-5">
		Awsome idas. creative design. performing result
	</div>
</div>