@font-face {
	font-family: "IBM Plex Sans";
	src: url("./IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("./Poppins/Poppins-Light.ttf");
}
@font-face {
	font-family: "Rubik";
	src: url("./Rubik/Rubik-Regular.ttf");
}
