<div class="flex-center sign-form-main mt-3 ">
    <mat-card class="sign-form-design p-4">
        <p class="title-lg text-center ">Welcome To CodeInnvoator</p>
        <p class="text-center text-muted">Register your account</p>
        <!-- input control -->
        <div class="ng-custom-form-group">
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class="ng-custom-form-group">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class="ng-custom-form-group">
            <mat-form-field appearance="outline">
                <mat-label>Enter Your Password</mat-label>
                <input matInput placeholder="Placeholder" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <!-- <input type="Password" class="form-control custom-form-control" id="Password" placeholder="Password"> -->
        </div>

        <div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary btn-lg" type="button">Sign Up</button>
        </div>
        <div class="text-center mb-3">
            Already have an account ? <a [routerLink]="['/login']">Login</a>
        </div>
    </mat-card>
</div>