<a [routerLink]="['/login']" [queryParams]="{id:'2ddfd7fa-bef4-4682-9487-b88413ddda92',cs:'krunal'}" routerLinkActive="router-link-active">again login</a>

<div class="flex-center login-form">
    <mat-card class="login-form-card">
        <div class=" flex-center h-100">
            <div class="w-100">
                <!-- header -->
                <div class="title-xl text-center mb-4">Create an Account</div>

                <!-- input control -->
                <div class="custom-form-group">
                    <input type="text" class="form-control custom-form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="custom-form-group">
                    <input type="text" class="form-control custom-form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="custom-form-group">
                    <input type="text" class="form-control custom-form-control" id="email" placeholder="Email">
                </div>
                <div class="custom-form-group">
                    <input type="password" class="form-control custom-form-control" id="password" placeholder="Password">
                </div>


                <!-- sign up button -->
                <div class="d-grid gap-2 mb-4 ">
                    <button class="btn btn-primary shadow ">Sign Up</button>
                </div>

                <!-- link for new account -->
                <div class="text-center">
                    Already have an account ? <a class="btn-link" href="">Login</a>
                </div>
            </div>
        </div>
    </mat-card>
</div>