@import "../../../../../assets/utility/mixin.scss";
@import "../../../../../assets/utility/font-size.scss";
@import "../../../../../assets/utility/media-query.scss";
ps-details {
    $circular-progress: 130;
    $circular-progress-size: $circular-progress + px;
    .progress-spinner-common {
        height: $circular-progress-size !important;
        width: $circular-progress-size !important;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .project-cards {
        @include flex(flex-start, "", 15);
        flex-wrap: wrap;
        @include responsiveDefault(320, 768) {
            @include flex(center, "", 15);
        }
    }
    .project-indivisual-card {
        flex-basis: 236px;
    }
    .ps-header {
        @include flex(space-between, "", 15);
    }
    .ps-icon {
        font-size: $font-size-lg;
    }
    .ps-date {
        font-size: $font-size-xs;
    }
    .ps-circular-progress-main {
        position: relative;
        height: $circular-progress-size;
    }
    .angular-progress-spinner {
        @extend .progress-spinner-common;
        svg {
            height: $circular-progress-size !important;
            width: $circular-progress-size !important;
        }
    }
    .progrss-spinner {
        position: absolute;
        background: $white-color;
        border-radius: 50%;
        border: calc(#{$circular-progress} / 10 * 1px) solid $faint-color-grey;
        @extend .progress-spinner-common;
    }
    .ps-member {
        @include flex(space-between, "");
        img,
        .ps-add-img {
            @include project-image(27);
        }
        li:nth-child(n + 2) {
            margin-left: -8px;
        }
    }
    .mat-progress-spinner circle {
        stroke-linecap: round;
    }
}