<div class="ps-main">
    <div class="project-cards">
        <mat-card class="project-indivisual-card" *ngFor="let item of abc">
            <div class="ps-header">
                <div>
                    <p class="title-sm">UI/UX Design</p>
                    <p class="mb-0 ps-date text-muted">5 April,2021</p>
                </div>
                <div>
                    <span class="material-icons ps-icon text-muted">
                        chevron_right
                    </span>
                </div>
            </div>
            <div class="ps-circular-progress-main mt-2">
                <div class="progrss-spinner">
                    <div class="h-100 flex-center title-md">70%</div>
                </div>
                <mat-progress-spinner class="angular-progress-spinner" [color]="color" [mode]="mode" [value]="PROGRESS_SPINNER_VALUE">
                </mat-progress-spinner>
            </div>
            <div class="ps-member mt-3">
                <div>
                    <ul class="list-unstyled d-flex">
                        <li>
                            <img src="../../../../../assets/images/pg (1).jpg" alt="">
                        </li>
                        <li>
                            <img src="../../../../../assets/images/pg (2).jpg" alt="">
                        </li>
                        <li>
                            <img src="../../../../../assets/images/pg (3).jpg" alt="">
                        </li>
                        <li>
                            <img src="../../../../../assets/images/pg (1).jpg" alt="">
                        </li>
                    </ul>

                </div>
                <div class="ps-add-img flex-center">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
            <div class="ps-member mt-1 text-muted">
                <div>
                    1 member online
                </div>
                <div>
                    Total:3
                </div>
            </div>
        </mat-card>
    </div>
</div>