// import utility
@import "./assets/utility/utility.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0;
    padding: 0;
    font-family: $theme-font-family;
    font-size: $font-size-default;
    letter-spacing: 0.2px;
}

body {
    color: $default-text-color;
}

.head {
    font-size: $font-size-xl;
    font-weight: $font-weight-lg;
}

// material icons color
.material-icons {
    color: $white-color;
}

// custom angular snackbar color
.snackbar-alert {
    background-image: linear-gradient(to right, #e01f3fa4 12%, #565551 49%) !important;
}

.snackbar-success {
    background-image: linear-gradient(to right, #66bf52d2 12%, #565551 49%) !important;
}

.snackbar-info {
    background-image: linear-gradient(to right, #76b8c7ad 12%, #565551 49%) !important;
}

.snackbar-warning {
    background-image: linear-gradient(to right, #d1ad37a8 12%, #565551 49%) !important;
}